* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'PlayFair Display', Work Sans;
}

body,
html {
    height: 100%;
    width: 100%;

}

#main {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: flex-end;
    padding: 0 80px;
    padding-top: 100px;
    gap: 60px;
    overflow-y: auto;
}

#left {
    height: 100%;
    width: 50%;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}



#left h1 {
    font-size: 90px;

    line-height: 100px;
    font-weight: 500;
}

#colors {
    margin-top: 80px;
    width: fit-content;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    border-radius: 40px;
}

#colors h5 {
    font-size: 20px;
    margin-right: 10px;
    font-weight: 500;
}

#color1 {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    margin: 3px;
    background: rgba(52, 84, 224, 0.88);
}

#color2 {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: brown;
}

#left h2 {
    margin-top: 50px;
    font-size: 30px;
    margin-bottom: 10px;
}

#left p {
    font-size: 20px;
    width: 70%;
    font-weight: 600;
    color: #444;
    line-height: 30px;

}

#right {
    height: 100%;
    width: 33%;
    
    position: relative;
}

#right-top {
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#right-top h4 {
    font-size: 25px;
    font-weight: 500;
}

#right-top h5 {
    font-size: 20;

}

#right-top h5 i {
    color: goldenrod;
}

#right img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

#circle {
    position: absolute;
    top: 24%;
    right: -14%;
    height: 120px;
    width: 120px;
    background-color: #444;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

#circle h5 {
    font-size: 20px;
    font-weight: 500;
}

#rotated-title {
    position: absolute;
    left: -10%;
    bottom: 3%;
    rotate: -90deg;
    transform-origin: 0 0;
    font-size: 30px;
    font-weight: 500;
}